
    .car {height: 250px;overflow: hidden;}
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color:#ed3981;
    }


    .header::before {
        background: transparent;
    }
    .estado path,
    .estado rect,
    .estado polygon {
        fill: #ccc;
    }
    .estado {
        fill:#000;
    }

    .estado a {
        fill:red;
        stroke:red;
    }

    .estado:hover {
        fill:#fff;
    }
    .teste:hover {
        fill:#fff;
    }
    .estado:hover path,
    .estado:hover rect,
    .estado:hover polygon {
        fill: #EE3A81;
    }


    #contato input {
        border-radius: 9px;
        padding-top: 20px;
        padding-bottom: 20px
    }

    .navbar-default .navbar-nav > li.active:first-child > a {
        color: PURPLE
    }

    .linha {
        color:#54225f; background:#54225f !important; height: 0px; margin: 0; padding:0; margin-bottom:10px
    }

    .feature h4 {
        color:#491d54;
    }

    .card {
        background:#fff;
        border-radius: 5px;
        padding-top:30px;
        padding-bottom:30px;
        box-shadow: 10px 10px 9px #491e54
    }

    .btnn {
        background: #531f5f; border:none; border-radius: 20px; width: 50%; padding-top: 20px; padding-bottom: 20px
    }

.con {
    padding-bottom: 20px;
}

@media screen and (min-width: 768px){
    .carousel-caption {
        padding-bottom: 200px
    }
}

.feature {
    background: yelow
}
